$margin-side: 6vw;
$margin-top: 10vh;
$highlight-color: #ff985c;

.wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin-top $margin-side;

    .title {
        display: flex;
        flex-direction: column;

        img {
            max-width: 100%;
            max-height: auto;
        }

        .desc {
            font-family: monospace;
            font-size: x-large;
            color: white;
            margin-left: 3.75vw;
        }
        .button-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            display: flex;
            gap: 15px;
            margin-right: 3.75vw;

            .waitlist-button, .demo-button {
                padding: 12px 24px;
                font-size: 1.5vw;
                font-family: monospace;
                color:white;
                border: 1.5px solid rgb(255, 255, 255);
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.3s ease;

                &:hover {
                    background-color: darken(#ff985c, 1%);
                    transform: scale(1.05);
                    color: darken($color: #000000, $amount: 0);
                }

                &:active {
                    transform: scale(1);
                }
            }

            .waitlist-button {
                background-color: #000000;
            }

            .demo-button {
                background-color: #000000;
            }
        } 
    }

    .app {
        width: 80%;
        background-color: papayawhip;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin-top: 5rem;

        img {

            border-radius: 4.5vh;

            &:hover {
                box-shadow: -1px 1px 1px 1px $highlight-color;
            }
        }
    }
}

@media (max-width: 1000px) {
    .wrapper {

        .title {

            .desc {
                font-size: large;
            }
        }
    }
}
