$primary-color: #000;
$secondary-color: #fff;
$highlight-color: rgb(255, 152, 92);
$nav-height: 6rem;
$logo-height: 5rem;
$sidebar-width: 50vw;
$font-size: 1rem;


.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  font-family: Helvetica;
  height: $nav-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/src/assets/nav-bg.png);
  background-repeat: no-repeat;
  background-size:cover;
  color: $secondary-color;


  .logo {
    display:flex;
    width: auto;
    font-weight: bold;
    align-items: center;
    margin: 0 0 0 2.5rem;

    img {
      height: $logo-height;
      width: auto;
    }
  }

  .nav-items {
    display: flex;
    align-items: center;

    a {
      font-size: $font-size;
      display: block;
      color: $secondary-color;
      text-decoration: none;
      padding: 1rem 1.5rem;
      margin: 0 1.5rem;
      border-radius: 10px;

      &:hover {
        background: $highlight-color;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgb(255, 152, 92, 0.9);
        backdrop-filter: blur(13px);
      }
    }
  }

  .hamburger {
    display: none;
    margin: 0 1.5rem;
    flex-direction: column;
    cursor: pointer;

    .bar {
      width: 25px;
      height: 3px;
      background-color: $secondary-color;
      margin: 3px 0;
      transition: all 0.4s;
    }
  }

  .sidebar {
    display: none;
    position: fixed;
    font-size: $font-size;
    top: 0;
    right: -$sidebar-width;
    width: $sidebar-width;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    a {
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      width: 100%;
      color: $secondary-color;
      text-decoration: none;
      padding: 1.5rem 3rem;

      &:hover {
        background: $highlight-color;
        border-radius: 10px 0 0 10px;
        box-shadow: 0 4px 30px $highlight-color;
        padding-right: 1.5rem;
      }
    }

    &.open {
      right: 0;
    }
  }


  @media (max-width: 900px) {
    .nav-items {
      display: none;
    }

    .hamburger {
      display: flex;
    }

    .sidebar{
      display: flex;
    }
  }
}

