.scrollingContainer{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 80vh;
  padding-left: 50vw;
  padding-right: 50vw;

  .element {
      height: 700px;
      min-width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      margin: 5rem;
      background: url(/src/assets/iPhone-png.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 30px;
      border: 2px solid black;

      &:hover{
          scale: 1.1;
      }
  }
}

.backgrounds {
  
  font-size: 3rem;
  background-color: black;
  height: 100vh;
}